.view-redbull-article-list ul li div.inner{
  margin:5px 0;
  padding-top:25px;
  padding-bottom:25px;
}
.view-redbull-article-list ul li.views-row-first div.inner{
  margin-top:0;
  padding-top:0;
}
.view-redbull-article-list ul li.views-row-last{
  border:0 none;
}
.view-redbull-article-list ul li div.inner:hover{
  background-color:#f1f5f4;
}

.view-redbull-article-list ul li div.inner .title{
  font-size:21px;
  font-weight:normal;
  text-transform:uppercase;
  line-height:1;
  margin-bottom:13px;
}

.view-redbull-article-list ul li div.inner .tid a{
  float:left;
  background: #73b400;
  color:#fff;
  font-size:10px;
  margin-right: 6px;
  display:block;
  padding:0 2px;
  text-transform:uppercase;
}
.view-redbull-article-list ul li div.inner .field-teaser-value{
  margin-bottom:13px;
}
.view-redbull-article-list ul li div.inner .view-node, .edit-node{
  display:inline;
}
.view-redbull-article-list ul li div.inner .view-node a, .edit-node a{
  color: #e23403;
  text-decoration:underline !important;
}






/* article - node view */

.node-type-article .twothird{
  width:66.66%;
}
.node-type-article .twothird > *{
  margin-right:10px;
} 
.node-type-article .onethird{
  width:33.33%;
}
.node-type-article .onethird > *{
  margin-left:10px;
  padding-bottom:50px;
}
.page-comment .comment, .page-comment #comment-form, .pane-node_content, .pane-node_comments, .pane-node_comment_form{
  margin:0;
} 

.ding-box-wide{
  width:auto;
  margin:0;
  background:red;
  padding-bottom:20px;
}

.node-type-article .left{
  display:block;
}
.node-type-article .right{
  display:block;
}


ul.field-ting-refs{
  width:auto;
}
ul.field-ting-refs li{
  border:5px solid #d8d8d7;
  font-size:11px;
}
ul.field-ting-refs .record{
  width:auto;
  padding-right:10px;
}
ul.field-ting-refs .record h3{
  padding:0;
  font-size:13px;
  font-weight:bold;
}
ul.field-ting-refs span.creator {
  font-weight:normal;
  padding-bottom:10px;
  display:block;
}
ul.field-ting-refs span.creator a{
  color:#666;
  text-decoration:underline;
}
ul.field-ting-refs .redlink{
  color:#e23403;
  text-decoration:underline;
}
