/* structual styles goes here */

body{
  background-color:#d4d4d4;
  font-family: Tahoma, sans-serif;
}

.page{
  width:960px;
  margin:10px auto;
  margin-bottom:0;
  background:#fff;
  padding:10px;
  position:relative;
}
#site-name{
  padding:0;
  background:#d8d8d8;
  height:auto;
}
#site-name a{
  background:transparent url('../images/logo.png') no-repeat center left;
  margin:0 20px;
  width:204px;
  height:61px;
}
.main-menu{
  font-family: “Gill Sans”, Calibri, “Trebuchet MS”, sans-serif;
  position:absolute;
  right:10px;
  top:10px;
}
.main-menu li{
  float:left;
}
.main-menu li a{
  display:block;
  min-width:109px;
  height:50px;
  margin-left:1px;
  padding:5px;
  text-transform:uppercase;
  color:#fff;
  text-decoration:none !important; /* uarhg! */
}
.main-menu li.active a,
.main-menu li a:hover{
  height:55px;
  margin-top:-5px;
  font-weight:normal;
  
}
.darkblue{
  background:#001a27;
  color:#fff;
  padding-top:20px;
}
.darkblue #search > form,
.darkblue #officehours > div,
.darkblue #account > div{
  margin:0 20px;
}
.darkblue #search{
  width:520px;
}
.darkblue #officehours,
.darkblue #account{
  width:220px;
  height:auto;
}
/*.darkblue #officehours h3{
  color:#fff;
  font-size:1em;
  border-bottom:1px solid #fff;
}*/
.darkblue h3{
  color:#fff;
  font-size:11px;
  font-weight:normal;
  border-bottom:1px solid #fff;
  margin-bottom:10px;
}






/* opening hours */
.view-library-list{
  font-size:10px;
}
.view-library-list .title{
  float:left;
  width:120px;
}
.view-library-list .title a{
  font-weight:normal;
  color:#fff;
}
.view-library-list .field-opening-hours-scope{
  float:right;
  width:50px;
} 
 

#user-login-form{
  margin-top:0;
  padding:0;
  background: transparent none;
}
.btn-container{
  position:relative;
  /*border: 1px solid green;*/
}

#user-login-form .nemlogin{
  position:absolute;
  top:0;
  right:0;
}
 
#user-login-form #edit-name-wrapper input,
#user-login-form #edit-pass-wrapper input {
  width:172px;
  border:0 none;
  padding:4px 4px 0 4px;
} 

 
#user-login-form .form-button{
  position:absolute;
  top:2px;
  right:2px;
  width:auto;
  padding:0;
  margin:0;
}
#user-login-form .form-button input{ 
  color:#fff;
  display:block;
  border:0 none;
  width:50px;
  height:16px;
  background: #f6a925; /* for non-css3 browsers */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6a925', endColorstr='#ef6615'); /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#f6a925), to(#ef6615)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #f6a925,  #ef6615); /* for firefox 3.6+ */
}

/* footer */
#pagefooter{
  color:#fff;
  margin:0 auto;
  width:980px;
  background:#001a27 url('../images/footer-ribbon.png') no-repeat top left;
}
#pagefooter h3{
  color:#fff;
} 
#pagefooter-inner{
  background:transparent none;
  padding: 35px 20px 0 20px;
}
#pagefooter-inner div.left{
  background: 0 none;
  width:176px;
}
.oneoffour{
  float:left;
  width:25%;
}
#pagefooter-inner li.statement{
  float:left;
  margin-top:20px;
}
