.page-ting #ting-collection {
  display:block;
}

.ding-ting-collection .panel-left ul .tab-navigation ul{
  width:auto;
  float:none;
  min-height:0;
  background:transparent none;
}
.tab-navigation-main-inner{
  padding:0;
}
.ting-item .ting-object-buttons {
  float:right;
}



.tab-navigation-main{
  float:none;
  width:auto;
  background:transparent none;
}
 