#search,
#account{
  margin:0;
  width:auto;
}
#site-name{
  margin:0;
}


#pagebody-inner{
  margin:0;
  padding:0;
}
body.no-sidebars #content{
  width:auto;
}
.ting-search-carousel{
  left:0;
  width:auto;
}
body.no-sidebars #content-inner{
  margin:0;
}
.panel-threecol-33-34-33-stacked .panel-top {
  width:auto;
}
body.no-sidebars #content{
  float:none;
}


/* carousel resets */
.ting-search-carousel .search-results {
  background-color:#d8d8d8;
}

.ting-search-carousel .subtitle {
  color:#31483a;
  font-size:46px;
  padding-left:0;
}

.ting-search-carousel .search-controller {
  width:auto;
  background-color:#b7b7b5;
  border:0;
  margin:0;
  padding-left:3px;
}
.ting-search-carousel .search-controller li {
  border-top:1px solid #b7b7b7;
  margin:0;
  text-transform:uppercase;
  background: transparent;
}
.ting-search-carousel .search-controller li a {
  color: #666666;
}
.ting-search-carousel .search-controller li a:hover {
  color: #001a28;
  text-decoration:none !important;
}
.ting-search-carousel .search-controller li.active a {
  color: #e23403;
}
.ting-search-carousel .search-controller li.active{
  background:#d8d8d8;
  border-top:1px solid #d8d8d8;
}

 /* carousel buttons */
.jcarousel-skin-ting-search-carousel .jcarousel-prev-horizontal,
.jcarousel-skin-ting-search-carousel .jcarousel-next-horizontal{
  background:transparent url('../images/carousel-pager.png') no-repeat top left;
  height:40px;
  width:23px;
  top:80px;
}
.jcarousel-skin-ting-search-carousel .jcarousel-prev-horizontal {
  background-position: 0 0;
}
.jcarousel-skin-ting-search-carousel .jcarousel-next-horizontal {
  background-position: -23px 0;
}
.jcarousel-skin-ting-search-carousel .jcarousel-prev-horizontal:hover {
  background-position: 0 -80px;
}
.jcarousel-skin-ting-search-carousel .jcarousel-next-horizontal:hover {
  background-position: -23px -80px;
}
.jcarousel-skin-ting-search-carousel .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-ting-search-carousel .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-ting-search-carousel .jcarousel-prev-disabled-horizontal:active {
  background-position: 0 -40px;
}
.jcarousel-skin-ting-search-carousel .jcarousel-next-disabled-horizontal,
.jcarousel-skin-ting-search-carousel .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-ting-search-carousel .jcarousel-next-disabled-horizontal:active {
  background-position: 23px -40px;
}


.ting-search-carousel .search-results .creator, .ting-search-carousel .search-results .creator{
  color: #31483a;
  font-weight:bold;
  text-transform:uppercase;
}
.ting-search-carousel .search-results .creator, .ting-search-carousel .search-results .title{
  color: #31483a;
}

/* caousel buttons position */
.jcarousel-skin-ting-search-carousel .jcarousel-prev-horizontal {
  left:-277px;
}
.jcarousel-skin-ting-search-carousel .jcarousel-next-horizontal {
  right:-17px;
}




/* ting search form resets */

#ting-search-form {
  background: transparent none;
  padding:0;
  margin:0;
  position:relative;
}
#ting-search-form label {
  background: transparent none;
  margin:0;
  padding:4px;
}
#ting-search-form .form-item-textfield input{
  background: #fff none;
  width:476px;
  margin:0;
  padding:0;
  padding-left:4px;
  padding-top:4px;
  border:0 none;
}
#ting-search-form .search-title {
  color:#fff;
  text-transform:uppercase;
  font-weight:normal;
  font-size:28px;
  margin-bottom:10px;
}
#ting-search-form .form-button {
  position:absolute;
  right:2px;
  top:2px;
  height:18px;
  display:block;
  padding:0;
  margin:0;
}
#ting-search-form .form-button input{
  color:#fff;
  display:block;
  border:0 none;
  width:88px;
  height:20px;
  background: #f6a925; /* for non-css3 browsers */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6a925', endColorstr='#ef6615'); /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#f6a925), to(#ef6615)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #f6a925,  #ef6615); /* for firefox 3.6+ */
}

/* campaign */

.campaign-text,
.campaign-type-text-only,
.campaign-inner{
  width:auto;
}

.campaign-theme{
  margin:0;
}
.campaign-theme-green{
  background-color:#73b400;
  color:#fff;
}
.campaign-theme-blue{
  background-color:#cce04d;
}
.campaign-theme.campaign-theme-blue a{
  color:#31473b;
}
.campaign-theme-red{
  background-color:#73a29a;
  color:#fff;
}
.campaign-theme a{
  background: transparent none;
  padding: 10px;
  color:#fff;
}
.campaign-text a {
  font-family:tahoma, sans-serif;
  font-size:13px;
  font-weight:normal;
  padding-top:25px;
}

/* autocopmplete field */

 .ac_results{
   margin-left:-1px;
   width:480px !important;
   border-color:#001A27;
 }

 .ac_results .ac_over{
   background: #F3871B;
 }

 /* pane box */

 .ding-box-wide h3 {
   height:auto;
   width:100%;
 }

.ding-box-pane,
.ding-box-pane h3,
.ding-box-pane ul,
.ding-box-pane ul li{
  width: auto;
}
.ding-box-pane{
  background:transparent none;
}
.ding-box-pane .gray-box{
  background: #d8d8d7 none;
}
.ding-box-pane .gray-box h3{
  padding:0;
  width:auto;
  background:none;
  border-bottom:1px dashed #000;
  padding:5px 0;
  margin:0 10px;
  font-weight:bold;
}
.ding-box-pane .gray-box ul{
  background:transparent none;
}
.ding-box-pane .gray-box ul li:before{
  content: "›";
}
.ding-box-pane .gray-box ul li {
  padding-left:4px;
}
.ding-box-pane .gray-box ul li a{
  color:#000;
}
.panel-left .view-taxonomy-term-view {
  width:auto;
}
.panel-pane .node-teaser .content {
  width:320px;
}



.ding-box-wide{
  margin:0;
  width:auto;
  overflow:inherit;
}
.pane-recommendation_list ul.ting-recommendation li {
  padding:0;
  margin:0;
}


body.page-arrangementer .panel-left {
  width:auto;
}

.ding-box-pane .pane-library_hours{
  width:auto;
}


.ding-library-map, .view-library-list .node-teaser-library {
  width:auto;
}
.library-info,.library-info-inner,.library-info .library-map {
  background:transparent none;
  width:auto;
}
body.page-biblioteker .panel-left .view ul li {
  padding: 10px 0;
}
.view-library-list .node-teaser-library .content {
  width:360px;
}
.pane-library_hours .office-hours-week .even, .pane-library_hours .office-hours-week .odd{
  width:180px;
}


/* paginering */


 #pager, ul.pager {
   background: transparent none;
   margin:0;
   padding:0;
   float:right;
 }
 body.page-arrangementer .panel-middle .view-event-list ul.pager li, #pager div.navwide, #pager div.nav, ul.pager li, ul.pager li.pager-next, ul.pager li.pager-item, ul.pager li.pager-last, ul.pager li.pager-previous, ul.pager li.pager-first, .panel-left ul.pager li.pager-first {
   background: transparent none;
   border:1px solid #c0c0c0;
   padding:0;
   margin-left:10px;
   height:auto;
 }


.ding-ting-collection .tab-navigation{
  float:none;
  width:auto;
  min-height:1px;
  border:0 none !important;
  background: transparent none;
}
.campaign-image{
  margin:0 0 10px 0;
}
.pane-library_title ul{
  height:20px;
}

.pane-library_title li{
  float:left;
  margin-right:10px !important;
  border:0 none !important;
}
.pane-library_title li a{

}

.view-blog-inspiration-category-list ul li div {
  display:inline;
}


.view-event-list .view-filters {
  float:none;
  height:34px;
}
.view-event-list .view-filters form{
  float:right;
}
.meta {
  color: #001A27;
}
