.panel-threecol-33-34-33-stacked .panel-left,
#pagebody,
.panel-top{
  background: transparent none;
}
.panel-threecol-33-34-33-stacked .panel-left{
  border: 0 none;
  width:50%;
}
.panel-threecol-33-34-33-stacked .panel-left.wide{
  width:75%;
}
.panel-threecol-33-34-33-stacked .panel-left > div{
  padding-left:10px;
  padding-right:10px;
}

  .panel-threecol-33-34-33-stacked .panel-left .view-article-list {
    width:auto;
  }
  .panel-left .view, .panel-left .pane-library_feature_detail_list ul.item-list {
    left:0;
  }
  .panel-left .view ul li, .panel-left ul.item-list li, .panel-left .pane-library_feature_detail_list ul li {
    background:transparent none;
    padding:0;
    border-bottom:1px dashed #d7d7d7;
  }




.panel-threecol-33-34-33-stacked .panel-middle{
  width:25%;
  background: none;
}
.panel-threecol-33-34-33-stacked .panel-middle > div{
  padding-left:10px;
  padding-right:10px;
}

.panel-threecol-33-34-33-stacked .panel-right{
  width:25%;
}
.panel-threecol-33-34-33-stacked .panel-right > div{
  padding-left:10px;
  padding-right:10px;
}



/* dynamo resets and panel pages cleanup mixed
 */

 .content-top {
   background:none;
   left:auto;
   padding:0;
 }
 .panel-twocol-left-stacked .content-left {
   width:75%;
   margin:0;
 }
 .panel-twocol-left-stacked .panel-left {
   width:auto;
   margin:10px;
 }

.panel-twocol-left-stacked .content-right {
  width:25%;
}
.panel-twocol-left-stacked .content-right > div {
  margin:10px;
  padding-bottom:30px;
}
.panel-threecol-33-34-33-stacked .panel-bottom{
  width:auto;

}
.panel-threecol-33-34-33-stacked .panel-bottom > div{
  margin: 20px 10px;
}

/* events */
.page-arrangementer .panel-left .view-event-list ul,
.page-arrangementer .panel-left .view-event-list ul li{
  background: transparent none;
}
.page-arrangementer .panel-left .view-event-list ul li {
  width:auto;
  margin:0;
  padding:0;
  text-transform:inherit;
  font-size:inherit;
  border:0 none;
  border-bottom:1px dashed #d7d7d7;
  padding-bottom:10px;
  margin-bottom:10px;
}

body.page-arrangementer .panel-left > *, body.ding-arrangementer .panel-middle > *{
  margin:0 10px;
  padding:0;
}

body.page-arrangementer .panel-left {
  width:50%;
}
body.page-arrangementer .panel-middle{
  width:25%;
}

body.ding-arrangementer .panel-middle{
  background:transparent none;
}


body.page-arrangementer .view-event-list ul{
  width:auto;
}

body.page-arrangementer .panel-middle .pane-categories{
  background:transparent none;
  padding:0;
}
.pane-categories > ul.item-list li{
  float:none;
  border:0 none !important;
}




.panel-threecol-left-stacked .content-left{
  width:75%;
  margin:0;
}
.panel-threecol-left-stacked .content-left > *{
/*  margin-right:10px;
  margin-left:10px;*/
}
.panel-threecol-left-stacked .content-left > .content-middle{
  width:100%;
}
.panel-threecol-left-stacked .content-left .content-middle > div.panel-left > *{
  margin-left:10px;
}
.panel-threecol-left-stacked .content-left .content-middle > div.panel-middle > *{
  margin-right:10px;
}
.panel-threecol-left-stacked .content-right{
  width:25%;
}
.panel-threecol-left-stacked .content-right > *{
  margin-left:10px;
  margin-right:10px;
}



.panel-threecol-left-stacked .panel-left {
  width:66.66%;
}
.panel-threecol-left-stacked .panel-left > div {
  margin-right:10px;
}
.panel-threecol-left-stacked .panel-middle {
  width:33.33%;
}
.panel-threecol-left-stacked .panel-middle > div {
  margin-left:10px;
}
.panel-threecol-left-stacked .panel-left{
  background:transparent none;
}
.panel-threecol-left-stacked .content-top > *{
  margin-left:10px;
  margin-right:10px;
}
